
#google-image{
	background-image: url(images/google-image.jpg);
	background-repeat: no-repeat;
	width: 467px;
  height: 163px;
	max-height: 100%;
  margin:0 auto;
  text-align: center;
}

#top-bar{
	background-image: url(images/top-bar.jpg);
	background-repeat: no-repeat;
	height: 100px;
	max-height: 100%;
}

#text{
	color: lightgrey;
	font-family: arial;
	font-size: 100%;
	padding:auto;
	text-align: left;
}

#search-bar{
	border: 1px solid lightgrey;
  display: inline-block;
  position: relative;
	width: 650px;
	height:35px;
  margin-left: 25%;
  margin-top: 3%;
}

#mic{
	height: 20px;
	width: 13px;
  position: relative;
  margin-left: -3%
}

#websites{
  background-image: url(images/sites.jpg);
  background-repeat: no-repeat;
  height: 1000px;
  width:1000px;
  margin-left: 23%;
  margin-top:4%;
}

