#google-image{
	background-image: url(images/google-image.jpg);
	background-repeat: no-repeat;
	height: 500px;
	max-height: 100%;
}

#top-bar{
	background-image: url(images/top-bar.jpg);
	background-repeat: no-repeat;
	height: 100px;
	max-height: 100%;
}

#text{
	color: lightgrey;
	font-family: arial;
	font-size: 100%;
	padding:auto;
	text-align: left;
}

#search-bar{
	border: 1px solid grey;
	width: 650px;
	height:35px;
	position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5px;
    padding-left: 5px;
}

#mic{
	height: 20px;
	width: 13px;
	padding:auto;
	position: absolute;
    top: 34%;
    left: 66%;
    transform: translate(-50%, -50%);
}
